<!-- fake option form -->
<div class="card mt-3 option-form">
  <div class="card-body">
    <div class="form-group">
      <label class="form-check-label">Option</label>
      <input type="text" placeholder="option" class="form-control"/>
    </div>
	<div class="form-group form-check">
      <input type="checkbox" class="form-check-input"/>
	  <label class="form-check-label">Set Answer</label>
	</div>
	<button class="btn btn-primary">Create</button>
  </div>
</div>