          <p class="alert alert-warning" role="alert">Question has more than 1 answer<p>
          <% question.options.each do |option| %>  
            <div class="col-md-6 border border-2 rounded-pill pt-1 bg-light">
              <h5>
                <%= qs.check_box :options, {:multiple => true}, option.content %>
                <%= qs.label :options, option.content, value: option.content %>
              </h5>
            </div>
            <%= qs.hidden_field :question_id, value: question.id %>
          <% end %>