<div class="card">
  <div class="card-header">
    <%= question.title %>
  </div>
  <div class="card-body">
    <p class="card-text">Score: <%= question.score %></p>
    <ul>
      <li>Option1</li>
      <li>Option2</li>
    </ul>
  </div>
</div> 