<div class="card">
  <div class="card-header bg-info">
    <h3><%= question.title %></h3>
  </div>
  <div class="card-body">
    <h4 class="card-text">Score: <%= question.score %></p>
    <div class="row">
      <% question.options.each do |option| %>
      	<div class="col-md-5 my-1 ml-1 text-center border border-light grey-back pt-1">
				  <h3>
					  <span class="btn btn-primary btn-sm option-btn"><!--Select option as radio button-->
              <label><%= option.content %></label>
              <input type="radio"><br>
					  </span>
				  </h3>
			  </div>
      <% end %>
    </div>
  </div>
</div> 