<header class="bg-light my-2 py-2 row justify-content-between">
  <div class="col-6">
    <h1>Admin</h1>
  </div>
  <div class="col-3 mt-2">
    <%= link_to 'Reports', dashboard_reports_path, class: 'text-truncate' %> | 
    <%= link_to 'Users', dashboard_users_path, class: 'text-truncate' %> |
    <%= link_to 'Stats', dashboard_stats_path, class: 'text-truncate' %>
  </div>
</header>
