<li class="dropdown-item border-bottom">
  <b><%= notification.content %></b><br>
  <small class="text-primary"><%= time_ago_in_words(notification.created_at) %></small>
  <%= link_to '<span class="material-icons">done</span>'.html_safe,
    notification_path(id: notification, notification: {viewed: true}), method: :put %>
</li>