<div class="card options">
  <div class="card-body">
    <div class="row">
      <% question.options.each do |option| %>
          <div class="col-md-6 border border-2 rounded-pill py-2">
				    <h5>
              <input type="radio" value="<%= option.content %>">
              <% if option.is_correct %>
                <label class="text-primary"><%= option.content %></label>
              <% else %>
                <label class="text-danger"><%= option.content %></label>
              <% end %>
            </h5>
          </div>
      <% end %>
    </div>
  </div>
</div> 