<p id="notice"><%= notice %></p>
<div class="row mt-3">
  <div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-6 offset-3">
    <h1 class="my-3">All Categories</h1>
    <% @categories.each do |category| %>
      <h3><%= link_to category.name, category %></h3>
    <% end %>

    <%= link_to 'New Category', new_category_path %>
  </div>
</div>

