<div class="col-6 py-2 px-2">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= link_to highlight(exam.title, params[:search]), exam %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= exam.category.name %></h6>
      <div class="card-text">
        <p class="d-inline">Total score: <%= exam.total_score %></p> |
        <p class="d-inline">Submissions: <%= exam.submissions.count %></p>
      </div>
    </div>
  </div>
</div>