<div class="container">
  <footer class="footer border-top mt-5 pt-2">
	<small class="float-left">
		Copyright &copy; <a href="#">Exam Online App</a> by <a href="#">Le Manh Hung</a>
	</small>
	<nav>
	  <ul class="float-right">
		<li class="float-left ml-3"><%= link_to 'About', root_path %></li>
		<li class="float-left ml-3"><%= link_to 'FAQ', root_path %></li>
	  </ul>
	</nav>
  </footer>
</div>